*.xlsx
**/*.ipynb_checkpoints/
.ipynb_checkpoints
*.pkl
*.pickle
*.pyc
.env
*.csv
playground.ipynb
*.pyc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
