[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
tqdm = "*"
unidecode = "*"
nltk = "*"
statsmodels = "*"
scikit-learn = "*"
cmake = "*"
pydantic = "*"
uvicorn = "*"
httpx = "*"
openpyxl = "*"
dash = "*"
plotly = "*"
boto3 = "*"
python-dotenv = "*"
gunicorn = "*"
fastapi = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
openpyxl = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
