[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
openpyxl = "*"
ipykernel = "*"
requests = "*"
tqdm = "*"
unidecode = "*"
nltk = "*"
statsmodels = "*"
sklearn = "*"
scikit-learn = "*"
xgboost = "*"
cmake = "*"

[dev-packages]

[requires]
python_version = "3.10"
